.navbar-wrapper {
  display: flex;
  flex-direction: row;
  position: fixed;
  height: 70px;
  width: 100%;
  background-color: #f8f8f8;
  border-color: #e7e7e7;
  top: 0;
  gap: 10px;
  padding: 10px;
}
  